<h1>CoOp Details</h1>
<ul>
    <li><%= @co_op.name %></li>
    <li><%= @co_op.location %></li>
    <%= link_to 'Back To Co-Op List', co_op_index_path %><br>
    <%= link_to 'Edit', edit_co_op_path%>
</ul>

<% @workers.each do |emp|%>
<%= emp.id %>
<%= %>
<% end %>